html { 
  background: white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.result {
  background-color: rgba(255, 255, 255, 0.65); 
  border-radius: 0.3em;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
  margin-top: 20px;
}

.fullscreen {
}